# fly.toml app configuration file generated for hum-backend
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "hum-backend"
primary_region = "iad"

# Note: Change app name to your preferred name when running fly launch

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

